/* 
Styles are easy to change with CSS!
This template doesn't do anything by default.
To change the page, un-comment the default CSS rules, or write your own!
*/

/* TODO: Un-comment these rules or write your own */
body {
  /* background: pink; */
  /* color: purple; */
}

/*
Sometimes these rules may conflict with styles that the
    website has already provided itself. To fix that, either
    add an !important like so:
        background: blue !important;
*/

/*  The first part is called a selector
    Everything on a web page has a selector:
    - the tag (body, div, p, etc)
    - the class (.container)
    - the id (#main)
    the rules you write within the {} only effect that selector.

    You can use Inspect Element to find out what an element's
    tag, ID or class is. */
.selector {
  /*  These are rules. You can write as many as you want to!
    Learn more about CSS here:
    https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps
    See a list of all the styles you can change here:
    https://developer.mozilla.org/en-US/docs/Web/CSS/Reference */

  /* font-size: 30px; */
  /* TODO: Un-comment the line above */
}

/*
The '*' selector applies to all elements.
When combined with !important, it is extremely powerful.
Be careful...
*/

/*
* {
    font-family: "Comic Sans MS", "Chalkboard SE", cursive, sans-serif !important;
}
*/
