[arc-boosted] {
  padding: 2em !important;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  color: purple;
  background-color: lavenderblush;
  font-family: 'Chalkboard', sans-serif;
}
